/* Variáveis globais para facilitar o uso das cores */
:root {
  --laranja-barbearia: #F05A11;
  --laranja-claro: #FFF3E8;
  --cinza-fundo: #3b3b3b;
  --branco: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--cinza-fundo);
}