/* Variáveis globais para facilitar o uso das cores */
:root {
  --verde-barbearia: #1B5E20;
  --verde-claro: #E8F5E9;
  --beje-principal: #ae8755; 
  --cinza-fundo: #3b3b3b;
  --branco: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--cinza-fundo);
}